Header set Access-Control-Allow-Origin "https://www.tellus-toolkit.com"
Header set Access-Control-Allow-Methods "GET,PUT,POST,DELETE"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"
