<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>GHIA | Map</title>

  <!--<meta name="description" content="GHIA">-->
  <!--<meta name="author" content="Vasilis Vlastaras, University of Manchester">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--<link rel="shortcut icon" href="images/favicons/favicon.ico" type="image/x-icon">-->

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <!-- Bootstrap -->
  <!--<link rel="stylesheet" href="libs/bootstrap-material-design-v4.1.1/css/bootstrap-material-design.css" >-->
  <!--<link rel="stylesheet" href="libs/bootstrap-material-design-v4.1.1/css/bootstrap-material-design.min.css" >-->
  <!--<link rel="stylesheet" href="styles/bootstrap-material-design-modified.css">-->

  <!-- Bootstrap core CSS -->
  <link href="libs/mdb/css/bootstrap.min.css" rel="stylesheet">
  <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
  <!-- Material Design Bootstrap -->
  <link href="libs/mdb/css/mdb.min.css" rel="stylesheet">
  <!--<link href="css/mdb.min.css" rel="stylesheet">-->

  <!-- Font-Awesome -->
  <!--<link rel="stylesheet" href="libs/font-awesome-free-5.5.0-web/css/all.min.css">-->
  <link rel="stylesheet" href="libs/fontawesome-free-5.9.0-web/css/all.min.css">


  <!-- Leaflet -->
  <link rel="stylesheet" href="libs/leaflet-1.5.1/leaflet.css">
  <link rel="stylesheet" href="libs/leaflet-plugins/sidebar-v2-0.4.0/leaflet-sidebar.css">
  <!--  <link rel="stylesheet" href="libs/leaflet-plugins/sidebar-v2-0.4.0/leaflet-sidebar.min.css">-->
  <link rel="stylesheet" href="libs/leaflet-plugins/leaflet-pm-2.1.0/leaflet.pm.css">

  <link rel="stylesheet" href="styles/green-map.css">
  <link rel="stylesheet" href="styles/loader.css">

  <!-- JQuery -->
  <!--<script type="text/javascript" src="libs/jquery-3.2.1/jquery.js"></script>-->
  <!--<script type="text/javascript" src="libs/jquery-3.2.1/jquery.min.js"></script>-->
  <!--<script type="text/javascript" src="libs/jquery-3.2.1/jquery.slim.js"></script>-->
  <!--<script type="text/javascript" src="libs/jquery-3.2.1/jquery.slim.min.js"></script>-->
  <script type="text/javascript" src="libs/mdb/js/jquery-3.4.0.min.js"></script>

  <script type="text/javascript" src="libs/fontawesome-free-5.9.0-web/js/all.min.js"></script>

  <script type="text/javascript" src="js/raster.js"></script>

  <!--<script type="text/javascript" src="js/data.js"></script>-->

  <!--<script type="text/javascript" src="js/shared.js"></script>-->

</head>
<body>

<!-- Component: Navigation Menu -->
<nav id="navBarHost" class="navbar fixed-top navbar-expand-lg navbar-dark indigo">
  <!--<nav id="navBarHost" class="navbar navbar-expand-lg navbar-dark primary-color">-->
  <!--<nav class="navbar navbar-expand-lg navbar-dark primary-color">-->
  <a class="navbar-brand" href="index.html">GHIA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="map.html">Map</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Green Map <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="page-container">

  <div>
    <!-- Component: Radar Diagram -->
    <!--<div id="radarContainerVM" class="radar-container-vm collapse">-->

    <!--<div id="radar-diagram-card" class="card h-100">-->
    <!--&lt;!&ndash;<div class="card-header">&ndash;&gt;-->
    <!--&lt;!&ndash;Featured&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;col-12" style="position: relative;&ndash;&gt;-->
    <!--<div id="radar-diagram-card-body" class="card-body h-100">-->

    <!--&lt;!&ndash;<div id="radar-diagram-chart-container" class="radar-container" style="border: 1px solid #FB8C00;">&ndash;&gt;-->
    <!--<div id="radar-diagram-chart-container" class="radar-container">-->
    <!--&lt;!&ndash;style="border: 1px solid #000000;"&ndash;&gt;-->
    <!--&lt;!&ndash;<canvas id="radar-diagram" style="border: 1px solid #000000;"></canvas>&ndash;&gt;-->
    <!--<canvas id="radar-diagram"></canvas>-->
    <!--</div>-->

    <!--&lt;!&ndash;style="border: 1px solid #000000;"&ndash;&gt;-->
    <!--&lt;!&ndash;<canvas id="radar-diagram-2"></canvas>&ndash;&gt;-->
    <!--&lt;!&ndash;<canvas id="radar-diagram-2" style="border: 1px solid #000000;"></canvas>&ndash;&gt;-->
    <!--&lt;!&ndash;<canvas id="radar-diagram-2" height="80" style="border: 1px solid #000000;"></canvas>&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="radar-diagram-2" style="height: 120px; width:120px; border: 1px solid #000000;"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;style="position: absolute; bottom: 20px; right: 20px;"&ndash;&gt;-->
    <!--<div class="text-right pt-2">-->
    <!--<button type="button" class="btn btn-danger btn-outline-danger"-->
    <!--v-bind:class="[currentDomain === '' ? 'btn-raised' : '']"-->
    <!--v-on:click="updateDiagram('')">-->
    <!--All-->
    <!--</button>-->
    <!--<button class="btn btn-danger btn-outline-danger"-->
    <!--v-bind:class="[currentDomain === 'Hazard' ? 'btn-raised' : '']"-->
    <!--v-on:click="updateDiagram('Hazard')">-->
    <!--Hazard-->
    <!--</button>-->
    <!--<button class="btn btn-danger btn-outline-danger"-->
    <!--v-bind:class="[currentDomain === 'Exposure' ? 'btn-raised' : '']"-->
    <!--v-on:click="updateDiagram('Exposure')">-->
    <!--Exposure-->
    <!--</button>-->
    <!--<button class="btn btn-danger btn-outline-danger"-->
    <!--v-bind:class="[currentDomain === 'Vulnerability - Sensitivity' ? 'btn-raised' : '']"-->
    <!--v-on:click="updateDiagram('Vulnerability - Sensitivity')">-->
    <!--Sensitivity-->
    <!--</button>-->
    <!--<button class="btn btn-danger btn-outline-danger"-->
    <!--v-bind:class="[currentDomain === 'Vulnerability - Adaptive Capacity' ? 'btn-raised' : '']"-->
    <!--v-on:click="updateDiagram('Vulnerability - Adaptive Capacity')">-->
    <!--Adaptive Capacity-->
    <!--</button>-->

    <!--<button class="btn btn-primary btn-outline-primary"-->
    <!--v-on:click="hide()">-->
    <!--Close-->
    <!--</button>-->
    <!--</div>-->

    <!--</div>-->
    <!--&lt;!&ndash;<div class="card-footer text-right">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#" class="btn btn-primary"&ndash;&gt;-->
    <!--&lt;!&ndash;v-on:click="hide()">&ndash;&gt;-->
    <!--&lt;!&ndash;Close&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->

    <!--</div>-->
  </div>



  <div class="map-container">

    <!-- Component: Spinner -->
    <!--<div id="spinnerVM" class="spinner" v-show="isVisible">-->
    <!--<div class="showbox">-->
    <!--<div class="loader">-->
    <!--<svg class="circular" viewBox="25 25 50 50">-->
    <!--<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>-->
    <!--</svg>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!-- Component: Map -->
    <div id="map" class="sidebar-map"></div>

    <!-- Component: Toggle Basemap Buttons -->
    <div id="toggleBaseMapButtonsVM" class="btn-group rounded" role="group"
         aria-label="Select basemap" data-toggle="buttons">

      <div class="btn-group-toggle" role="group">
        <!--dropdown-toggle-->
        <!--data-toggle="tooltip" data-placement="bottom" v-bind:title="Click to change Basemap"-->
        <button id="basemapDropdownButtonGroup" type="button" class="btn btn-indigo btn-raised dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                v-bind:aria-label="dictionary[currentBaseMap].description">
          <!--v-bind:aria-pressed="[currentBaseMap === 'dark' ? 'true' : 'false']"-->
          <!--<i class="far fa-map"></i>-->
          <i id="currentBaseMapIcon" class="material-icons md-18"
             v-text="dictionary[currentBaseMap].iconName">
          </i>
          <div id="currentBaseMapText">
            <small class="text-capitalize text-center" v-text="dictionary[currentBaseMap].name"></small>
          </div>
        </button>

        <div class="dropdown-menu" aria-labelledby="basemapDropdownButtonGroup">
          <button id="lightButton" type="button" class="btn dropdown-item dropdown-item-basemap mb-1"
                  v-bind:aria-label="dictionary['light'].description"
                  v-bind:aria-pressed="[currentBaseMap === 'light' ? 'true' : 'false']"
                  v-bind:class="[currentBaseMap === 'light' ? 'btn-indigo btn-raised' : '']"
                  v-on:click="setCurrentBaseMap('light')">
            <div class="pt-2 pb-2">
              <i class="material-icons v-allign-middle"
                 v-bind:class="[currentBaseMap === 'light' ? '' : 'text-dark']"
                 v-text="dictionary['light'].iconName">
              </i>
              <span class="v-allign-middle" v-text="dictionary['light'].name"></span>
            </div>
          </button>
          <button id="darkButton" type="button" class="btn dropdown-item dropdown-item-basemap mb-1"
                  v-bind:aria-label="dictionary['dark'].description"
                  v-bind:aria-pressed="[currentBaseMap === 'light' ? 'true' : 'false']"
                  v-bind:class="[currentBaseMap === 'dark' ? 'btn-indigo btn-raised' : '']"
                  v-on:click="setCurrentBaseMap('dark')">
            <div class="pt-2 pb-2">
              <i class="material-icons v-allign-middle"
                 v-bind:class="[currentBaseMap === 'dark' ? '' : 'text-dark']"
                 v-text="dictionary['dark'].iconName">
              </i>
              <span class="v-allign-middle" v-text="dictionary['dark'].name"></span>
            </div>
          </button>
          <button id="roadsButton" type="button" class="btn dropdown-item dropdown-item-basemap mb-1"
                  v-bind:aria-label="dictionary['roads'].description"
                  v-bind:aria-pressed="[currentBaseMap === 'light' ? 'true' : 'false']"
                  v-bind:class="[currentBaseMap === 'roads' ? 'btn-indigo btn-raised' : '']"
                  v-on:click="setCurrentBaseMap('roads')">
            <div class="pt-2 pb-2">
              <i class="material-icons v-allign-middle"
                 v-bind:class="[currentBaseMap === 'roads' ? '' : 'text-dark']"
                 v-text="dictionary['roads'].iconName">
              </i>
              <span class="v-allign-middle" v-text="dictionary['roads'].name"></span>
            </div>
          </button>
          <button id="physicalButton" type="button" class="btn dropdown-item dropdown-item-basemap mb-1"
                  v-bind:aria-label="dictionary['physical'].description"
                  v-bind:aria-pressed="[currentBaseMap === 'light' ? 'true' : 'false']"
                  v-bind:class="[currentBaseMap === 'physical' ? 'btn-indigo btn-raised' : '']"
                  v-on:click="setCurrentBaseMap('physical')">
            <div class="pt-2 pb-2">
              <i class="material-icons v-allign-middle"
                 v-bind:class="[currentBaseMap === 'physical' ? '' : 'text-dark']"
                 v-text="dictionary['physical'].iconName">
              </i>
              <span class="v-allign-middle" v-text="dictionary['physical'].name"></span>
            </div>
          </button>
          <button id="terrainButton" type="button" class="btn dropdown-item dropdown-item-basemap mb-1"
                  v-bind:aria-label="dictionary['terrain'].description"
                  v-bind:aria-pressed="[currentBaseMap === 'light' ? 'true' : 'false']"
                  v-bind:class="[currentBaseMap === 'terrain' ? 'btn-indigo btn-raised' : '']"
                  v-on:click="setCurrentBaseMap('terrain')">
            <div class="pt-2 pb-2">
              <i class="material-icons v-allign-middle"
                 v-bind:class="[currentBaseMap === 'terrain' ? '' : 'text-dark']"
                 v-text="dictionary['terrain'].iconName">
              </i>
              <span class="v-allign-middle" v-text="dictionary['terrain'].name"></span>
            </div>
          </button>
          <button id="satelliteButton" type="button" class="btn dropdown-item dropdown-item-basemap mb-1"
                  v-bind:aria-label="dictionary['satellite'].description"
                  v-bind:aria-pressed="[currentBaseMap === 'light' ? 'true' : 'false']"
                  v-bind:class="[currentBaseMap === 'satellite' ? 'btn-indigo btn-raised' : '']"
                  v-on:click="setCurrentBaseMap('satellite')">
            <div class="pt-2 pb-2">
              <i class="material-icons v-allign-middle"
                 v-bind:class="[currentBaseMap === 'satellite' ? '' : 'text-dark']"
                 v-text="dictionary['satellite'].iconName">
              </i>
              <span class="v-allign-middle" v-text="dictionary['satellite'].name"></span>
            </div>
          </button>

        </div>
      </div>

    </div>

  </div>

  <!-- Component: Sidebar -->
  <div>
    <div id="sidebar" class="sidebar collapsed sidebar-right leaflet-touch">

      <!-- Component: Sidebar Tabs -->
      <div id="sidebarTabsVM" class="sidebar-tabs">
        <ul role="tablist">
          <li id="map-controls-button" title="Show / Hide Map Controls"
              data-toggle="tooltip" data-placement="left" aria-label="Show / Hide Map Controls"
              v-on:click="hideTooltip('#map-controls-button')">
            <!--<a href="#info" role="tab"><i class="fas fa-bars"></i></a>-->
            <!--<a href="#info" role="tab"><i class="fas fa-bars"></i></a>-->
            <!--<a href="#map-controls" role="tab">-->
            <!--<i class="ghia-material-icons">menu</i>-->
            <!--</a>-->
            <!--<a href="#map-controls" role="tab"><i class="fas fa-map"></i></a>-->
            <a href="#map-controls" role="tab">
<!--              <i class="fas fa-bars"></i>-->
<!--              <i class="ghia-material-icons text-dark">chrome_reader_mode</i>-->
<!--              <i class="material-icons">web</i>-->
              <i class="ghia-material-icons text-dark">menu</i>
            </a>
          </li>
          <!--<li id="typology-info-button" title="Show / Hide Typology Information"-->
              <!--data-toggle="tooltip" data-placement="left" aria-label="Show / Hide Typology Information"-->
              <!--v-on:click="hideTooltip('#typology-info-button')">-->
            <!--<a href="#typology-info" role="tab">-->
              <!--<i class="ghia-material-icons">assignment</i>-->
            <!--</a>-->
          <!--</li>-->
        </ul>
      </div>

      <!-- Component: Sidebar Content -->
      <div class="sidebar-content h-100">

        <!-- Component: GHIA Interactivity -->
        <div class="sidebar-pane h-100" id="map-controls">

          <div class="pane-container h-100" >

            <!-- Component: GHIA Dashboard -->
            <div id="ghia-dashboard" class="h-100">
              <div class="p-0 h-100">
                <div class="d-flex align-content-stretch flex-column h-100">

                  <div>
                    <h5>Select how to query the map.</h5>
                  </div>

                  <!-- Component: Query State Buttons -->
                  <div id="queryStateVM">
                    <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row">

                      <button type="button" class="btn btn-primary m-1"
                              v-bind:class="[states.point.isCurrent ? 'active' : '']"
                              v-on:click="setCurrentState('point')">
                        <i class="mr-2"
                           v-bind:class="[states.point.icon]">
                        </i>
                        <span v-text="states.point.buttonText"></span>
                      </button>

                      <button type="button" class="btn btn-primary m-1"
                              v-bind:class="[states.polygon.isCurrent ? 'active' : '']"
                              v-on:click="setCurrentState('polygon')">
                        <i class="mr-2"
                           v-bind:class="[states.polygon.icon]">
                        </i>
                        <span v-text="states.polygon.buttonText"></span>
                      </button>

                      <button type="button" class="btn btn-primary m-1"
                              v-bind:class="[states.lsoa.isCurrent ? 'active' : '']"
                              v-on:click="setCurrentState('lsoa')">
                        <i class="mr-2"
                           v-bind:class="[states.lsoa.icon]">
                        </i>
                        <span v-text="states.lsoa.buttonText"></span>
                      </button>

                      <button type="button" class="btn btn-primary m-1"
                              v-bind:class="[states.wards.isCurrent ? 'active' : '']"
                              v-on:click="setCurrentState('wards')">
                        <i class="mr-2"
                           v-bind:class="[states.wards.icon]">
                        </i>
                        <span v-text="states.wards.buttonText"></span>
                      </button>

                    </div>

                    <div class="ghia-hor-sep"></div>

                    <div>
                      <p v-text="getHelpText()"></p>
                    </div>

                  </div>

                  <!-- Component: Display Results Buttons -->
                  <div id="displayResultsVM">
                    <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row">

                      <button type="button" class="btn btn-primary m-1"
                              v-bind:class="[methods.diagram.isCurrent ? 'active' : '']"
                              v-on:click="setCurrentMethod('diagram')">
                        <i class="mr-2"
                           v-bind:class="[methods.diagram.icon]">
                        </i>
                        <span v-text="methods.diagram.buttonText"></span>
                      </button>

                      <button type="button" class="btn btn-primary m-1"
                              v-bind:class="[methods.report.isCurrent ? 'active' : '']"
                              v-on:click="setCurrentMethod('report')">
                        <i class="mr-2"
                           v-bind:class="[methods.report.icon]">
                        </i>
                        <span v-text="methods.report.buttonText"></span>
                      </button>

                    </div>

                    <div class="ghia-hor-sep"></div>

<!--                    <div>-->
<!--                      <p v-text="getHelpText()"></p>-->
<!--                    </div>-->

                  </div>


<!--                  <div class="mb-auto h-100 ver-scrollbars border-left border-bottom border-right">-->
                  <div class="mb-auto h-100 ver-scrollbars">

                    <div id="diagramVM" v-bind:class="[isViewVisible() ? '' : 'hidden']">
                      <p>This is the diagram area</p>
                    </div>

                    <div id="reportVM" v-bind:class="[isViewVisible() ? '' : 'hidden']">
                      <div class="card card-body">

                        <table class="table-bordered table-striped table-hover raster-value-table">
                          <thead style="background-color: #c9ceea;">
                          <tr>
                            <th scope="col" class="raster-value-value">Value</th>
                            <th scope="col" class="raster-value-function">Function</th>
                            <th scope="col" class="raster-value-form">Form</th>
                            <th scope="col" class="raster-value-count text-right">Count</th>
                            <th scope="col" class="raster-value-percentage text-right">%</th>
                          </tr>
                          </thead>
                          <tbody v-for="(entry, index) in histogram"
                                 v-if="histogramEntriesCount !== 0">
<!--                            <tr v-bind:class="[isOdd(index) ? 'table-light' : '']">-->
                            <tr>
                              <td class="raster-value-value" v-text="entry.value"></td>
                              <td class="raster-value-function" v-text="entry.function"></td>
                              <td class="raster-value-form" v-text="entry.form"></td>
                              <td class="raster-value-count text-right" v-text="entry.count"></td>
                              <td class="raster-value-percentage text-right" v-text="percentage(entry).toFixed(3)"></td>
                            </tr>


                          </tbody>
                        </table>

                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>

        <!-- Component: Typology Info -->
<!--        <div class="sidebar-pane h-100" id="typology-info">-->
<!--          <p>Typo Info</p>-->
<!--        </div>-->

      </div>

    </div>
  </div>

</div>


<!--<script type="text/javascript" src="libs/axios-0.18.1/axios.js"></script>-->
<script type="text/javascript" src="libs/axios-0.18.1/axios.min.js"></script>
<script type="text/javascript" src="libs/vue-2.6.10/vue.js"></script>
<!--<script type="text/javascript" src="libs/vue-2.6.10/vue.min.js"></script>-->

<!--<script type="text/javascript" src="libs/chart-js-2.7.2/chart.min.js"></script>-->

<script type="text/javascript" src="libs/mdb/js/popper.min.js"></script>

<!--<script type="text/javascript" src="libs/leaflet-1.3.1/leaflet.js"></script>-->
<!--<script type="text/javascript" src="libs/leaflet-1.5.1/leaflet.js"></script>-->
<!--<script type="text/javascript" src="libs/leaflet-1.3.1/leaflet-src.js"></script>-->
<script type="text/javascript" src="libs/leaflet-1.5.1/leaflet-src.js"></script>
<!--<script type="text/javascript" src="libs/leaflet-plugins/leaflet-providers-1.1.17/leaflet-providers.js"></script>-->
<script type="text/javascript" src="libs/leaflet-plugins/leaflet-providers-2018-04-11/leaflet-providers.js"></script>
<script type="text/javascript" src="libs/leaflet-plugins/sidebar-v2-0.4.0/leaflet-sidebar.js"></script>
<!--<script type="text/javascript" src="libs/leaflet-plugins/sidebar-v2-0.4.0/leaflet-sidebar.min.js"></script>-->
<!--<script type="text/javascript" src="libs/leaflet-plugins/leaflet-pouch/leaflet.pouch.js"></script>-->
<script type="text/javascript" src="libs/leaflet-plugins/leaflet-editable-1.2.0/leaflet-editable.js"></script>

<!--<script type="text/javascript" src="libs/bootstrap-material-design-v4.1.1/js/bootstrap-material-design.js"></script>-->
<!--<script type="text/javascript" src="libs/bootstrap-material-design-v4.1.1/js/bootstrap-material-design.min.js"></script>-->

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="libs/mdb/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
<!-- MDB core JavaScript -->
<script type="text/javascript" src="libs/mdb/js/mdb.min.js"></script>
<!--<script type="text/javascript" src="js/mdb.min.js"></script>-->

<!--<script type="text/javascript" src="libs/ps-math-stats/ps-math-stats.min.js"></script>-->

<!--<script type="text/javascript" src="js/data.js"></script>-->
<script type="text/javascript" src="js/color-palettes.js"></script>
<!--<script type="text/javascript" src="js/manchester-lsoa-full.js"></script>-->
<script type="text/javascript" src="js/manchester-lsoa-generalised.js"></script>
<script type="text/javascript" src="js/ghia-ilm-v-1-1-aoi.js"></script>
<script type="text/javascript" src="js/ghia-ilm-v-1-1-tiles1000.js"></script>
<!--<script type="text/javascript" src="js/manchester-lsoa-super-generalised.js"></script>-->
<script type="text/javascript" src="js/green-map.js"></script>

<!--<script>-->
<!--$(document).ready(function () {-->
<!--$('body').bootstrapMaterialDesign();-->
<!--});-->
<!--</script>-->

</body>
</html>