<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="boostrap.min.css"?>
<!--
//
// ===================================================
// FlashQ by Christian Hackert and Gernot Braehler
// ===================================================
// Configuration file.
// @author		Christian Hackert <www.hackert.biz/flashq>
// @version		FlashQ version 1.0
// ===================================================
//
-->
<config version="1.0" htmlParse="false">

    <!-- title of the study -->
    <item id="studyTitle">GHIA</item>

    <!-- text-align property(left|right) -->
    <item id="textAlign">left</item>

    <!-- shuffle cards (true|false)  -->
    <item id="shuffleCards">true</item>

    <!-- login required (true|false) -->
    <item id="loginrequired">false</item>
    <!-- login with common password (leave blank if not required) -->
    <item id="loginPassword"></item>
    <!-- URL to individual login script(leave blank if not required) -->
    <item id="loginUrl"></item>
    <!-- request mode (post|get) -->
    <item id="loginUrlMethod">post</item>

    <!-- activate/deactivate optional steps (true|false) -->
    <item id="showStep3">false</item>
    <item id="showStep4">false</item>
    <item id="showStep5">true</item>

    <!-- HtmlQ only: disable the in-window back button -->
    <item id="disableBackButton">false</item>

    <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
    <!-- add label: <label>[STRING]</label> -->
    <!-- add note: <note>[STRING]</note> -->
    <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
    <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
    <item id="form">
        <label> </label>
        <label>About you</label>
        <note>What age group are you in?</note>
        <input type="select" required="true">under 15;15-19;20-29;30-39;40-49;50-59;60-69;70-79;80-89;90+</input>

        <!--label>What is your gender?</label-->
        <note>What is your gender?</note>
        <input type="radio" required="true">female;male;prefer not to say</input>

        <!--label>Please answer the following questions.</label-->
        <note>What is your postcode?</note>
        <note color="red">Without a valid Greater Manchester postcode we cannot map your answers.</note>
        <input id="postcode" name="postcode" maxlength="10" placeholder=" enter your postcode" size="10" type="text" />
        <!--input id="validate-postcode-input" name="postcode" placeholder="enter your postcode" size="15" class="form-control rest-resource" type="text" />
        <a href="https://api.postcodes.io/postcodes/" id="validate-postcode">check</a>
        <br/> <br/>
        <pre class="code-box alert-danger" id="validate-postcode-result"></pre-->

        <note>Which Greater Manchester District do you live in?</note>
        <input type="select" required="true">Bolton;Bury;Manchester;Oldham;Rochdale;Salford;Stockport;Tameside;Trafford;Wigan</input>

        <hr />

        <note bg="false">  </note>
    </item>

    <!-- URL for data transmission via POST/GET (leave blank if not required) -->
    <item id="submitUrl">exe.php?do=save</item>
    <!-- request mode (post|get) -->
    <item id="submitUrlMethod">post</item>

    <!-- data transmission via email, user must have an e-mail programm like Outlook (leave blank if not required) -->
    <item id="submitMail">yourdomain.com</item>
</config>